<div class="header">
  <div class="header__nav">
    <a
      class="header__nav__home"
      routerLink="/home"
      routerLinkActive="active-link"
    >
      Home
    </a>
    <div>
      <a routerLink="/rooms" routerLinkActive="active-link">
        Rooms
      </a>
      <a
        *ngIf="!isuserLogged"
        routerLink="/user"
        routerLinkActive="active-link"
      >
        Login
      </a>
      <a *ngIf="isuserLogged" (click)="onClickLogout()">
        Logout
      </a>
    </div>
  </div>
</div>
