<!-- String interpolation -->
<h1>{{title + ": "+ returnHelloWorld()}}</h1>

<!-- Property Binding -->
<input type="text" [placeholder]="inputPlaceHolder" />
<button [disabled]="isButtonDisabled">button {{isButtonDisabled? 'disabled': 'enabled'}}</button>

<!-- Event Binding -->
<button (click)="onclickButtonEnable()">{{isButtonDisabled?'enable': 'disable'}} top button</button>
<input placeholder="Enter Title" (input)="onInputInputTitle($event)" />

<!--
  צרו ריבוע באורך ורוחב של 300 פיקסלים
  בתוך הריבוע צריך להיות כתוב המיקום של העכבר בתוך הריבוע
 -->
<div class="mouse-div" (mousemove)="onMousemoveInMouseDiv($event)">x: {{mouseDivX}}; y: {{mouseDivY}}</div>

<!-- Two way binding -->
<input placeholder="Change Title" [(ngModel)]="title" />

<!-- ngClass -->
<!-- <button [disabled]="isButtonDisabled" [ngClass]="buttonClasses">
  button {{isButtonDisabled? 'disabled': 'enabled'}}
</button> -->

<!-- צרו כפתור: לחיצה 1- רקע צהוב, לחיצה 2 - גבול אדוםת לחיצה 3 טקסט אדום לחיצה רביעית מאפסת את המצב של הכפתור -->
<!-- <button (click)="onClickButtonCounter()" [ngClass]="buttonCounterClasses">Click on me: {{buttonCounter}}</button> -->

<!-- ngIf -->
<div *ngIf="!isButtonDisabled" style="background: blue;width: 100px; height: 100px;"></div>
<div style="background: red;width: 100px; height: 100px;"></div>


<!--
  תרגיל:
  צרו אינפוט של אימייל שברגע שמקלידים בו אימייל לא תקין אז נוספת פסקה מתחת שמודיעה שהאימייל איננו תקין ומסביב לאינפוט יש מסגרת אדומה
 -->

<input placeholder="Email" [class]="isEmailValid? '':'email-not-valid'" (input)="onInputInInputEmail($event)" />
<div *ngIf="!isEmailValid">Email not Valid !!!!!!</div>

<!-- ngFor -->
<div *ngFor="let person of persons; let i=index">
  person #{{i}}: name: {{person.name}}; age: {{person.age}}
  <p>{{person.name}}</p>
</div>

<!--
  
 -->
